#
# .bashrc aliases
#

alias ls='ls -F --color=auto'
alias kill='killcmd'
alias v='nvim'
alias sxiv='sxiv -a -s f'
alias cal='cal -mw'
alias setsysc='sysctl -w abi.vsyscall32=0'
alias pm='sudo pacman'
alias lg='lazygit'
alias l='eza -a'
alias mntusb='sudo mount /dev/sdc /mnt/usb1'
alias mnthdd='sudo mount /dev/sdb2 /mnt/hdd1'
alias sudo='sudo '
alias chx='sudo chmod +x '
alias dropc='echo 3 | sudo tee /proc/sys/vm/drop_caches'

function killcmd() {
	killall -9 "$1"
}

