#export GTK_IM_MODULE='uim'
#export QT_IM_MODULE='uim'
#export RANGER_LOAD_DEFAULT_RC=FALSE
#uim-xim &
#export XMODIFIERS='@im=uim'

#export GLFW_IM_MODULE='ibus'
#export GTK_IM_MODULE='ibus'
#export QT_IM_MODULE='ibus'
#export XMODIFIERS=@im='ibus'

#export GTK_IM_MODULE='xim'
export GTK_IM_MODULE='fcitx'
export QT_IM_MODULE='fcitx'
export SDL_IM_MODULE='fcitx'
export XMODIFIERS=@im='fcitx'
